*{
    margin:0;
    padding:0;
}
div#calculadora{
    width:480px;
    height:540px;
    background:grey;
    box-shadow:inset 5px 5px 5px rgb(150, 144, 144);
    border-radius:20px ;
    margin:5vh 30vw;
    border:1px solid rgb(114, 109, 109);
}
#screen{
    width:430px;
    height:110px;
    border-radius:20px;
    margin:20px 25px;
    box-shadow:inset 5px 8px 7px grey;
    background-color: gainsboro;
    font-size:50px;
    color:#000;
}
#buttonCotainer{
    display:grid;
    grid-template-columns:82px 82px 82px 82px 82px;
    grid-template-rows:80px 80px 80px 80px 80px ;
    grid-gap:8px;
    margin:0 25px;
}
#equal{
    height: 167px;
}
#buttonCotainer> button{
   border-radius:20px;
   box-shadow:inset 5px -10px 10px grey;
   font-size: 24px; 
   font-weight: bolder;
   cursor:pointer;
}
button:hover{
    background: rgb(206, 202, 202);
    }
